body{
  background-color: grey;
  margin: auto;
}

.prodotto_1{
  position: relative;
  width: 300px;
}

.prodotto_2{
  position: relative;
  width: 300px;
}

.prodotto_3{
  position: relative;
  width: 300px;

}

img {
  background-color: white;
  width: 300px;
  height: 350px;
}

.sconto_1{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

.sconto_2{
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
}

.sconto_3{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

#primo{
  position: relative;
  top: 0;
}

#secondo{
  position: absolute;
  top: 0;
  left: 310px;
}

#terzo{
  position: absolute;
  top: 0;
  left: 620px;
}

#quarto{
  position: relative;
  top: 6px;
}

#quinto{
  position: absolute;
  top: 360px;
  left: 310px;
}

#sesto{
  position: absolute;
  top: 360px;
  left: 620px;
}

.img_hover:hover{
  background-image: url('https://purepng.com/public/uploads/large/purepng.com-red-heartheartoxygen-and-nutrientshumanclipart-1421526551485ppgdd.png');
  background-position: left;
  background-size: 40px;
  background-repeat: no-repeat;
  z-index: 2;
}
