body{
  background-color: grey;
}

main{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 800px;
  width: 900px;
  margin-top: 50px;
}

span{
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  line-height: 40px;
  width: 55px;
  height: 40px;
  display: inline-block;
}

.prodotto_1{
  position: relative;
  width: 300px;
}

.prodotto_2{
  position: relative;
  width: 300px;
}

.prodotto_3{
  position: relative;
  width: 300px;

}

img {
  background-color: white;
  width: 300px;
  height: 350px;
  object-fit: contain;
}

.sconto_1{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

.sconto_2{
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
}

.sconto_3{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

#primo{
  position: relative;
  top: 0;
}

#secondo{
  position: absolute;
  top: 0;
  left: 310px;
}

#terzo{
  position: absolute;
  top: 0;
  left: 620px;
}

#quarto{
  position: relative;
  top: 6px;
}

#quinto{
  position: absolute;
  top: 360px;
  left: 310px;
}

#sesto{
  position: absolute;
  top: 360px;
  left: 620px;
}

.heart{
  background-image: url('https://purepng.com/public/uploads/large/purepng.com-red-heartheartoxygen-and-nutrientshumanclipart-1421526551485ppgdd.png');
  position: absolute;
  background-size: 40px;
  background-repeat: no-repeat;
  visibility: hidden;
  bottom: 10px;
  left: 130px;
}

div:hover .heart{
  visibility: visible;
}
